fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pytest
pydantic[email]
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
pandas
 pytest
 httpx 
 pytest-asyncio